.result-screen{
  height:60px;
  width:300px;
  border:1px solid black;
  position: relative;
  font-size: x-large;

}


.keypad{
  border:1px solid black;
  max-width: 300px;
  /* height: 800px; */
}

.button-grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap:16px;
}

.grid-item-0{
  grid-column:1/3;
}
